---
// Component Imports
// import BaseLayout from '../layouts/BaseLayout.astro'<-- this is not working well with Taildwind...
import Header from '../components/Header.astro'
import Projects from '../components/Projects.astro'
import Footer from '../components/Footer.astro'
---

<html>
  <head>
    <title>✨ Samar Jaffal Portfolio ✨</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<style global>
			@import "../styles/global.css";
		</style>
	</head>
  <body>
        <Header/>
        <Projects/>
        <Footer/>
  </body>
</html>
