---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'
// import Counter from '../components/Counter.jsx';
// const someProps = {
// 	count: 0,
// };

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---


<BaseLayout title="Homepage">
  <!-- <Counter {...someProps} client:visible>
    <h1 class="text-red-400 font-bold">Hello, React!</h1>
  </Counter> -->
   <h1 class="text-red-400 font-bold">Hello, React!</h1>
</BaseLayout>

