<footer>
    <div class="w-full bg-footer text-white p-10 md:p-20 text-center">
        <div class="text-white font-bold text-xl">
            <a href="#">Email</a> |
            <a href="#">Github</a> |
            <a href="#">Linkedin</a> |
            <a href="#">Twitter</a>
        </div>
        <div class="my-4">
        <span class="text-white font-bold text-xl"> - </span>
        </div>
        <p class="text-white font-light font-montserrat">
        We don’t have to 
        <span class="text-tertiary font-montserrat"> dream </span> 
        to make it beautiful, eveything we do 
        <span class="text-primary font-montserrat">
            it’s beautiful
        </span>
        </p>
        <svg class="mx-auto block mt-3" xmlns="http://www.w3.org/2000/svg" fill="#FB7B7F" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
    </div>
</footer>